!!! 5
%html
	%head
		%title Budget
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%div.container
			%header
				=render :partial => 'layouts/nav', :locals => { :project => @project }
			= yield
			%footer