<% unless @account.project.nil? %>
	<h1>New account for <%= @account.project.name %></h1>
<% else %>
	<h1>New account</h1>
<% end %>	

<div class="span24">
	<%= render 'form' %>
</div>

<%= link_to 'Back', projects_path(@project), :class => 'btn' %>
